Futbol takımları, birden fazla futbolcuya sahiptirler. Futbol takımı üzerinde, futbolcu ekleme, futbolcu çıkarma ve futbolcu listeleme davranışları yer almaktadır. Her futbolcu aynı zamanda bir kişidir. Futbolcular; isim, yaş ve sırt numarası özelliklerine ve futbol oynama davranışına sahiptirler. Ayrıca futbolcu üzerinde oynadıkları futbol takım bilgisi de yer almaktadır. Futbolcular, oynadıkları mevkilerle ilişkili olarak çeşitli davranışlara sahiptirler. Gol atmak, savunma yapmak ve gol kurtarmak bu davranışlardan bazılarıdır. Golcü ve Kaleci birer futbolcudur. Sistemde eğer Golcü bir gol atarsa, sırt numarası ve ismi ile anons edilecektir (bu bilgiler geriye değer olarak dönecek). Kaleci bir gol kurtarırsa gol kurtarma bilgisi geriye değer olarak dönecektir.
